
/* 
    Created on : May 1, 2018, 10:07:07 AM
    Author     : Ben House
*/

body { 
       background-color: black;
       
}

.title{
    background-color: white;
    width: 30%;
    margin-left: 400px;
    margin-top: 50px;
    text-align:center;
    border:solid;
    border-width:1px;
    margin-bottom: 50px;
}
h1{

        
}



canvas { 
    margin-left: 25px;
    width: 500px;
    height: 500px;
    border: solid;
    border-color: black;
    border-width: 2px
    
}